<h1>Review Your Bouquet:</h1>
 From: <%= @bouquet.sender_name %><br>
 To: <%= @bouquet.receiver_name %><br>
 Location: <%= @bouquet.custom_location %><br>
 <div id="show-map-container"><img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @location.lat %>,<%= @location.lng %>&zoom=5&size=600x400&markers=color:green%7C<%= @location.lat %>,<%= @location.lng %>&key=AIzaSyDDo2l9bHOpF6W1lxwIdI0njMBESuZEhzk" id="show-map"></div>
 Song: <%= @bouquet.song.track %><br>
 Artist: <%= @bouquet.song.artist %><br>
 Album: <%= @bouquet.song.album %><br>
 Message: <%= @bouquet.comment %><br>
 <%= image_tag @bouquet.image.url(:medium) %><br>
<h2>Ready to send your Bouquet?</h2>

<%= render 'text_form' %>

