<%= cloudinary_js_config %>
  <article class="black-60 pa3 pa5-ns" data-name="slab-stat">
    <h1 class="f1 tc">Ready to send your Bouquet?</h1>
    <dl class="dib mr5">
      <dd class="f6 f5-ns b ml0">From</dd>
      <dd class="f4 f2-ns b ml0"><%= @bouquet.sender_name %></dd>
    </dl>
    <dl class="dib mr5">
      <dd class="f6 f5-ns b ml0">To</dd>
      <dd class="f3 f2-ns b ml0"><%= @bouquet.receiver_name %></dd>
    </dl>
    <dl class="dib mr5">
      <dd class="f6 f5-ns b ml0">Location</dd>
      <dd class="f3 f2-ns b ml0"><%= @bouquet.custom_location %></dd>
    </dl>
    <dl class="dib mr5">
      <dd class="f6 f5-ns b ml0">Song</dd>
      <dd class="f3 f2-ns b ml0"><%= @bouquet.song.track %></dd>
    </dl>
    <dl class="dib mr5">
      <dd class="f6 f5-ns b ml0">Artist</dd>
      <dd class="f3 f2-ns b ml0"><%= @bouquet.song.artist %></dd>
    </dl>
    <dl class="dib mr5">
      <dd class="f6 f5-ns b ml0">Album</dd>
      <dd class="f3 f2-ns b ml0"><%= @bouquet.song.album %></dd>
    </dl>
    <dl class="dib mr5">
      <dd class="f6 f5-ns b ml0">Message</dd>
      <dd class="f3 f2-ns b ml0">"<%= @bouquet.comment %>"</dd>
    </dl>
  </article>
  <div class="center">
    <%= render 'text_form' %>
  </div>
  <article class="cf mb5 pa0">
    <div class="fl w-100 w-50-ns tc pa0">
      <div id="show-map-container">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @location.lat %>,<%= @location.lng %>&zoom=16&size=600x400&markers=color:green%7C<%= @location.lat %>,<%= @location.lng %>&key=<%=ENV['GOOGLE_MAP_KEY']%> id="show-map", class="mw-100">
      </div>
    </div>
    <div class="fl w-100 w-50-ns v-mid pa0">
        <%= cl_image_tag(@bouquet.image.file.try(:public_id) || @bouquet.image.default_url, class: "mw-100 tc") %>
    </div>
  </article>
</div>
