<%= cloudinary_js_config %>
<div class="cf ph2-ns">
<div id="show-map-container" class="fl tc">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @location.lat %>,<%= @location.lng %>&zoom=16&size=600x400&markers=color:green%7C<%= @location.lat %>,<%= @location.lng %>&key=AIzaSyDDo2l9bHOpF6W1lxwIdI0njMBESuZEhzk" id="show-map">
  </div>
  <div class="fl tc">
    <%= render 'text_form' %>
    <%= cl_image_tag(@bouquet.image.file.public_id) %>
    <h2>Ready to send your Bouquet?</h2>
  </div>
  <article class="fl w-100 w-25-ns  black-60 tr" data-name="slab-stat">
    <h1 class="f1 tr">bouquet details</h1>
    <dl class="dib mr0">
      <dd class="f6 f5-ns b ml0">From</dd>
      <dd class="f4 f2-ns b ml0"><%= @bouquet.sender_name %></dd>
    </dl><br>
    <dl class="dib mr0">
      <dd class="f6 f5-ns b ml0">To</dd>
      <dd class="f3 f2-ns b ml1"><%= @bouquet.receiver_name %></dd>
    </dl><br>
    <dl class="dib mr0">
      <dd class="f6 f5-ns b ml0">Location</dd>
      <dd class="f3 f2-ns b ml1"><%= @bouquet.custom_location %></dd>
    </dl><br>
    <dl class="dib mr0">
      <dd class="f6 f5-ns b ml0">Song</dd>
      <dd class="f3 f2-ns b ml1"><%= @bouquet.song.track %></dd>
    </dl><br>
    <dl class="dib mr0">
      <dd class="f6 f5-ns b ml0">Artist</dd>
      <dd class="f3 f2-ns b ml1"><%= @bouquet.song.artist %></dd>
    </dl><br>
    <dl class="dib mr0">
      <dd class="f6 f5-ns b ml0">Album</dd>
      <dd class="f3 f2-ns b ml1"><%= @bouquet.song.album %></dd>
    </dl><br>
    <dl class="dib mr0">
      <dd class="f6 f5-ns b ml0">Message</dd>
      <dd class="f3 f2-ns b ml1"><%= @bouquet.comment %></dd>
    </dl>
  </article>
</div>
