<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_KEY']%>&callback=initHeatMap&libraries=visualization" type="text/javascript" async defer></script>
<!-- mapdiv -->
 <div id="mapbase" class="fl w-50 ml3  bg-washed-green"> </div>
  <!-- stats list -->
  <div class="helvetica fl w-15 " >
     <ul class="list black   " id="stats">
        <b class="db bb">Total Bouquets Sent</b>
        <li class=" bg-black-05 ma1"><%= @bouquets.count %></li>
        <b class="db bb mt1">Top 5 locations</b>
        <% @locations.each do |location| %>
          <li class=" ma1 bg-black-05"><%= location.reverse_geocode.split(",")[1] %></li>
        <% end %>
        <b class="db bb mt1">Top 5 Artists</b>
        <% @songs.each do |song| %>
         <li class=" ma1 bg-black-05"> <%= song.artist %> </li>
        <% end %>
     </ul>
  </div>
 
<!-- spotify random song -->
<div class="fl w-20 ml3 "> <iframe src="https://open.spotify.com/embed?uri=spotify:track:<%=@songs.sample.spotify_id %>"
                frameborder="0" allowtransparency="true" width="300" height="380"  ></iframe></div>