<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_KEY']%>&libraries=places" type="text/javascript" async defer></script>

<ul class="errorMessages"></ul>

<article class="mw5 br3 pa3 pa4-ns mv3 ba b--black-10 v-top">
  <div class="lh-copy measure  f7 black-70">
    <img src= <%= @user.picture_url %> class="br-100 h4 w4 dib" title="userphoto">
    <h1 class="f7 tr">Birthday:<%= pretty_date(@user.birthdate) %></h1>
    <h1 class="f7 tr">Member since:<%=pretty_date(@user.created_at) %> </h1>
    <hr class="mw3 bb bw1 b--black-10">
  </div>
  
</article>



<div class=" v-top stats_div dib ">

    <article class="" data-name="slab-stat">
          <div class="">
            <dl class=" ">
            <dd class="">Song:</dd>
              <dd class="" id="show-song" >
            </dl>
            <dl class=" ">
              <dd class="">Artist:</dd>
              <dd class="" id="show-artist"> </dd>
            </dl>
            <dl class=" ">
              <dd class="">Album:</dd>
              <dd class="" id="show-album"> </dd>
            </dl>
            <dl class=" ">
              <dd class="">Location:</dd>
              <dd class=" " id="location_confirm"></dd>
            </dl>
            <dl class=" ">
              <dd class="">Person:</dd>
              <dd class="" id="person_confirm"></dd>
            </dl>
            <dl class=" ">
              <dd class="">Comment:</dd>
              <dd class=" " id="comment_confirm"></dd>
            </dl>
          </div>
    </article>
    </div>

<div class="">

<div class="">
  <div class="outline- bg-transparent pv4 ">
    <div class="choose-section grow ">
      <a href="bouquets/create" class="choose-link  input-reset  ">Add Song</a>
  </div>

    <div class="new-bouquet-section song-show  ">
        <%= form_tag spotify_search_path, :method => 'post', id: "search_submit" do %>
          <p >
            <%= text_field_tag :search, params[:search], :class => "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6  mb2" %>
            <%= submit_tag "Search", :name => nil, :id => "search_button", :class => "b ph3 pv2 input-reset ba b--black bg-transparent  pointer f6 " %>
          </p>
        <% end %>

    </div> 
    <form action="/bouquets/create" method="post" enctype="multipart/form-data">
        <div class="choose-section grow">
            <a href="bouquets/create" class="choose-link  ">Add Person</a>
        </div>
        <div class="new-bouquet-section">
            <p class=" ">Sender Name: <input type="text" name="bouquet[sender_name]" class=" input-reset   "  required></p>
            <p class=" ">Receiver Name: <input type="text" name="bouquet[receiver_name]" id="person" class=" input-reset   " required></p>

        </div>

        <div class="choose-section grow">
            <a href="bouquets/create" class="choose-link  link ">Add Location</a>
        </div>
        <div class="new-bouquet-section map-class">
            <p class=" ">Custom Location Name: <input type="text" name="bouquet[custom_location]" id="locale" class=" custom_location_name    "   ></p>

            <input id="lat_coord" name="location[lat]" type="hidden" value="" required>
            <input id="lng_coord" name="location[lng]" type="hidden" value="" required>
        </div>

            <input id="spot_id" name="song[spotify_id]" type="hidden" value="" required>
            <input id="song_title" name="song[track]" type="hidden" value="" required>
            <input id="artist" name="song[artist]" type="hidden" value="" required>
            <input id="album" name="song[album]" type="hidden" value="" required>

        <div class="choose-section grow">
            <a href="bouquets/create" class="choose-linklink  ">Add Message</a>
        </div>
        <div class="new-bouquet-section">

            <p class=" " >Message: <input type="text" id="comment" name="bouquet[comment]" class="" required ></p>

            <p class=" "><input type="file" name="bouquet[image]"  class="" style="display:none" accept="image/*"></p>
            <p class=""><input type="file" id="upload" style="display:none" name="bouquet[image]"  class=" " accept="image/*"><a href="#" id="upload_link" class=" input-reset ">Upload an Image</a></p>

           <div id="upload-msg" class="">
           </div>

        </div>


            <p><input type="submit" value="Create Bouquet" class=" input-reset " id="error-button"></p>

    </form>
  </div>

</div>


<div class="   results_div">

      <div class="songs_results" id="results" ></div>
           <input id="pac-input" class="controls  input-reset" type="text" placeholder="enter location">
      <div id="map"></div>
</div>





