<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_KEY']%>&callback=initProfileMap&libraries=visualization" type="text/javascript" async defer></script>

<div class="black-60 f6">
  <% if current_user && @user && current_user.id == @user.id %>
  <h1 class="black-60 ">Welcome back!</h1>
  <div class="">
    <div class="">
      <article class="" data-name="slab-stat">
        <d1 class="">
          <% if @user.picture_url %>
            <%= image_tag(@user.picture_url, alt: "profile_picture", class: "profile_picture mb4")%>
          <% else %>
            <%= image_tag("generic-profile-pic.png", alt: "profile_picture", class: "profile_picture")%>
          <% end %>
        </d1>
        <br>
        <dl class="">
          <dd class="">Bouquets sent</dd>
          <dd class=""><%= @user.sent_bouquets.count %></dd>
        </dl>
        <dl class="">
          <dd class="">Member since</dd>
          <dd class=""><%= pretty_date(@user.created_at) %></dd>
        </dl>
      </article>
    </div>
    <div class="f6 lh-copy">
      <div id="profilemap"></div>
      <h3 style="">Your bouquets:</h3>
      <% @user.sent_bouquets.each do |bouquet| %>
        <p><%= link_to "to " + bouquet.receiver_name + " on " + pretty_date(bouquet.created_at), "/bouquets/" + bouquet.id.to_s, class: "link  f6 black-60" %></p>
      <% end %>
    </div>

    <div class="">
      <div>
        <iframe src="https://open.spotify.com/embed?uri=spotify:user:<%= current_user.uid %>:playlist:<%= current_user.playlist %>" frameborder="0" allowtransparency="true" width="300" height="380"></iframe>
      </div>
    </div>

  </div>
  <% else %>
    <h3>Nothing to see here...</h3>
  <% end %>
</div>

