<%if @artist_data != nil %>
<div class="scroll-container nowrap overflow-x-auto ">
<h1 class="artist-cat">Artist</h1>
		<% @tracks_info.each do |track| %>
			<div class="artist-container" id="<%=track[:track_id] %>">
				 <iframe src="https://open.spotify.com/embed?uri=spotify:track:<%=track[:track_id] %>"
				        frameborder="0" allowtransparency="true" width="300" height="380"></iframe>

				 <%  song = {track: track[:song_title] , artist:track[:artist_name] , spotify_id: track[:track_id], album: track[:album_name] } %>
		     <%= button_to "add song to bouquet", bouquets_create_path,  form_class:" add_song_button b ph3 pv2 input-reset ba b--black bg-transparent  pointer f6 dib", params: song  %>
	    </div>
		<% end %>
	<% else %>
	  <h2>Zero results</h2>
	  <%=link_to "search again", bouquets_new_path %>
	<%end %>

<h1 class="track-cat">Tracks</h1>
	<%if @songs != nil %>
				<% @songs.each do |track| %>
	        <div class="track-container" id="<%=track[:track_id] %> data">
						<iframe src="https://open.spotify.com/embed?uri=spotify:track:<%=track[:track_id] %>"
						        frameborder="0" allowtransparency="true" width="300" height="380"></iframe>

				 <%  song = {	track: track[:song_title] , artist: track[:artists_name] , spotify_id: track[:track_id],album: track[:album_name] } %>
		     <%= button_to "add song to bouquet", bouquets_create_path,  form_class:"add_song_button b ph3 pv2 input-reset ba b--black bg-transparent  pointer f6 dib", params: song  %>

					</div>
			<%end %>

	<% else %>
		<h2>Zero results</h2>
	<%end %>
</div>

