<!DOCTYPE html>
<html>
  <head>
    <title>WeAreHear</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0", user-scalable="no">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.8.0/css/tachyons.min.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application' %>
  </head>
    <nav class="flex justify-between bb b--white-10">
      <div class="flex-grow pa3 flex items-center">
        <% if current_user %>
          <p><%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "f6 link dib white dim mr3 mr4-ns" %></p>
          <p><%= link_to "Profile", "/users/#{current_user.id}",  class: "f6 link dib white dim mr3 mr4-ns" %></p>
        <% end %>

        <p><%=link_to "Home", root_path, class: "f6 link dib white dim mr3 mr4-ns" %></p>
        <a href="/bouquets/new" class="f5 fw6 white-80 fr w-15 mh3 link br1 pa3 ba mt3 br2 shadow-5 mb2 grow  ph3 pv2 mb2 dib">Make a new bouquet</a>
      </div>
      <div>
        <%= link_to(image_tag("/assets/logo-white.png", class: "logo"), root_path) %>
      </div>
    </nav>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
